./data/phoenix
./data/telluric
./data/throughput
./data/sams_comp_spec.png
./output
./references
./data
utils/__pycache__/
.DS_Store
utils/__pycache__/*pyc
utils/.ipynb_checkpoints/
examples/data/.DS_Store
