
<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width,initial-scale=1' name='viewport'>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-114911189-1', 'auto');
  ga('send', 'pageview');
</script>

<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
<link href='https://fonts.googleapis.com/icon?family=Open+Sans' rel='stylesheet'>
<link rel="icon" type="image/x-icon" href="/assets/favicon-74e68b8ccfa9bf2e2638a785eec159e48729ede65fd10dab70b985523f8399ad.ico" />
<meta content='TIO' property='og:site_name'>
<meta content='https://www.tmt.org/assets/tmt_comp_background-f920515202d7fa2ce6dc8c485d53df5c2a9f5f3e4ff1414500ab8d5da629e49e.jpg' property='og:image'>
<meta content='https://www.tmt.org/assets/tmt_comp_background-f920515202d7fa2ce6dc8c485d53df5c2a9f5f3e4ff1414500ab8d5da629e49e.jpg' name='image'>
<meta content='website' property='og:type'>
<meta content='The Thirty Meter Telescope International Observatory (TIO) seeks to advance scientific knowledge while fostering connection among the partner countries and their citizens, who represent over half the world’s population.' name='description'>
<meta content='The Thirty Meter Telescope International Observatory (TIO) seeks to advance scientific knowledge while fostering connection among the partner countries and their citizens, who represent over half the world’s population.' property='og:description'>

<title>TMT International Observatory</title>
<link rel="stylesheet" media="all" href="/assets/application-24afe9c5b73c1fcb2dfea128e703d7e722baa5bcecb555e3eefb09222a9883ca.css" />
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="w/aa9avq8FgG06jUTmq6KAfhDshxWzUR9dYibBJL7Ejz4wdqXj6NEtYml/ms4svOGPmhYvhisy7qwSlx/AwEIQ==" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.tmt.org/news.rss" />
</head>
<body class=''>
<div class='flash'>
</div>
<div class='tio_bar'>
<div class='container'>
<div class='row'>
<div class='col s12'>
<div class='tio_bar_links'>
<a data-activates="user_menu" data-constrainwidth="false" data-beloworigin="true" data-hover="true" class="navigation_dropdown" href="#"><i class='fa fa-user'></i>
</a><a href="/search"><i class='fa fa-search'></i>
</a></div>
<div class='contact_us'>
<a href="/page/contact">Contact Us</a>
</div>
<a class="tio_logo" href="/"><img src="/assets/tio_logo-86732a740c18002b14060af42b4f6a1cc65f1836195e9cacdcfc6b13a3639b4e.png" alt="Tio logo" /></a>
<div class='social_media_links'>
<a href="/page/stay-connected"><i class='fa fa-share-alt'></i>
Stay Connected
</a></div>
<div class='tio_bar_links'>
<a href="/page/science-with-tmt">Scientists</a>
<a href="/page/tmt-and-industry">Industry</a>
</div>
</div>
</div>
</div>
</div>
<div class='user_sub_navigation'>
<ul class='dropdown-content' id='user_menu'>
<li class=''>
<a class="nav-link" href="/users/sign_in">Sign In</a>
</li>
</ul>
</div>
<div class='navigation'>
<div class='desktop_nav'>
<div class='container'>
<div class='row'>
<div class='col s12'>
<nav>
<div class='nav-wrapper'>
<ul>
<li>
<a data-activates="about_menu" data-constrainwidth="false" data-beloworigin="true" data-hover="true" class="navigation_dropdown" href="/page/about">About
<i class='fa fa-caret-down'></i>
</a></li>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "/page/tmt-hawaii", "data-activates": "tmt_in_hi_menu", "data-constrainwidth": false, "data-beloworigin": true, "data-hover": true, class: "navigation_dropdown" do -->
<!-- TMT Hawaii -->
<!-- %i.fa.fa-caret-down -->
<li>
<a data-activates="uselt_menu" data-constrainwidth="false" data-beloworigin="true" data-hover="true" class="navigation_dropdown" href="/page/uselt">The US-Extremely Large Telescope Program
<i class='fa fa-caret-down'></i>
</a></li>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "/page/tmt-hawaii", "data-activates": "tmt_in_hi_menu", "data-constrainwidth": false, "data-beloworigin": true, "data-hover": true, class: "navigation_dropdown" do -->
<!-- TMT Hawaii -->
<!-- %i.fa.fa-caret-down -->
<li>
<a data-activates="science-with-tmt_menu" data-constrainwidth="false" data-beloworigin="true" data-hover="true" class="navigation_dropdown" href="/page/science-with-tmt">Science with TMT
<i class='fa fa-caret-down'></i>
</a></li>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "/page/tmt-hawaii", "data-activates": "tmt_in_hi_menu", "data-constrainwidth": false, "data-beloworigin": true, "data-hover": true, class: "navigation_dropdown" do -->
<!-- TMT Hawaii -->
<!-- %i.fa.fa-caret-down -->
<li>
<a data-activates="observatory_menu" data-constrainwidth="false" data-beloworigin="true" data-hover="true" class="navigation_dropdown" href="/page/observatory">The Observatory
<i class='fa fa-caret-down'></i>
</a></li>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "/page/tmt-hawaii", "data-activates": "tmt_in_hi_menu", "data-constrainwidth": false, "data-beloworigin": true, "data-hover": true, class: "navigation_dropdown" do -->
<!-- TMT Hawaii -->
<!-- %i.fa.fa-caret-down -->
<li>
<a data-activates="engagement-education_menu" data-constrainwidth="false" data-beloworigin="true" data-hover="true" class="navigation_dropdown" href="/page/engagement-education">Education &amp; Engagement
<i class='fa fa-caret-down'></i>
</a></li>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "/page/tmt-hawaii", "data-activates": "tmt_in_hi_menu", "data-constrainwidth": false, "data-beloworigin": true, "data-hover": true, class: "navigation_dropdown" do -->
<!-- TMT Hawaii -->
<!-- %i.fa.fa-caret-down -->
<li class=''>
<a data-activates="news_menu" data-constrainwidth="false" data-beloworigin="true" data-hover="true" class="navigation_dropdown" href="/news">News & Multimedia
<i class='fa fa-caret-down'></i>
</a></li>
<li class=''>
<a href="/documents">Documents</a>
</li>
<li class=''>
<a href="/blog">Blog</a>
</li>
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>
<div class='nav-wrapper'>
<ul class='side-nav mobile_menu' id='mobile-menu'>
<li class=''>
<a href="/">Home</a>
</li>
<li>
<a class="about mobile_dropdown_link" href="#">About
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='about mobile_dropdown_content'>
<li class='sub_page'>
<a href="/page/about">Overview</a>
</li>
<li class='sub_page'>
<a href="/page/mission-vision">Mission &amp; Vision</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/our-story-in-hawaii">Our Story in Hawaii</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/timeline">Timeline</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/partners">Partners</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a class="governance sub_mobile_dropdown_link" href="#">Governance
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='governance sub_mobile_dropdown_content'>
<li class='sub_sub_page'>
<a href="/page/governance">Overview</a>
</li>
<li class='sub_sub_page'>
<a href="/page/governance#board-of-governors">Board Members</a>
</li>
<li class='sub_sub_page'>
<a href="/page/governance#science-advisory-committee">SAC Members</a>
</li>
</div>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/opportunities">Industry and Employment Opportunities</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</div>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "#", class: "tmt-in-hi mobile_dropdown_link" do -->
<!-- TMT Hawaii -->
<!-- &nbsp; -->
<!-- %i.fa.fa-caret-right -->
<!-- .mobile_dropdown_content{class: "tmt-in-hi"} -->
<!-- %li.sub_page -->
<!-- = link_to "Overview", "/page/tmt-hawaii" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org", "https://www.maunakeaandtmt.org", target: "_blank" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org/get-the-facts", "https://www.maunakeaandtmt.org/get-the-facts", target: "_blank" -->
<li>
<a class="uselt mobile_dropdown_link" href="#">The US-Extremely Large Telescope Program
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='mobile_dropdown_content uselt'>
<li class='sub_page'>
<a href="/page/uselt">Overview</a>
</li>
<li class='sub_page'>
<a href="/page/astro2020">Astro2020</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</div>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "#", class: "tmt-in-hi mobile_dropdown_link" do -->
<!-- TMT Hawaii -->
<!-- &nbsp; -->
<!-- %i.fa.fa-caret-right -->
<!-- .mobile_dropdown_content{class: "tmt-in-hi"} -->
<!-- %li.sub_page -->
<!-- = link_to "Overview", "/page/tmt-hawaii" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org", "https://www.maunakeaandtmt.org", target: "_blank" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org/get-the-facts", "https://www.maunakeaandtmt.org/get-the-facts", target: "_blank" -->
<li>
<a class="science-with-tmt mobile_dropdown_link" href="#">Science with TMT
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='mobile_dropdown_content science-with-tmt'>
<li class='sub_page'>
<a href="/page/science-with-tmt">Overview</a>
</li>
<li class='sub_page'>
<a class="science-themes sub_mobile_dropdown_link" href="#">Science Themes
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='science-themes sub_mobile_dropdown_content'>
<li class='sub_sub_page'>
<a href="/page/science-themes">Overview</a>
</li>
<li class='sub_sub_page'>
<a href="/page/science-theme-fundamental-physics-and-cosmology">Fundamental Physics and Cosmology</a>
</li>
<li class='sub_sub_page'>
<a href="/page/early-universe-and-igm">Early Universe, Galaxy Formation and the IGM</a>
</li>
<li class='sub_sub_page'>
<a href="/page/supermassive-black-holes">Supermassive Black Holes</a>
</li>
<li class='sub_sub_page'>
<a href="/page/milky-way-and-nearby-galaxies">Milky Way and Nearby Galaxies</a>
</li>
<li class='sub_sub_page'>
<a href="/page/stars-and-stellar-physics">Stars, Stellar Physics and the Interstellar Medium</a>
</li>
<li class='sub_sub_page'>
<a href="/page/formation-of-stars-and-planets">Formation of Stars and Planets</a>
</li>
<li class='sub_sub_page'>
<a href="/page/exoplanets">Exoplanets</a>
</li>
<li class='sub_sub_page'>
<a href="/page/our-solar-system">Our Solar System</a>
</li>
<li class='sub_sub_page'>
<a href="/page/time-domain-science">Time Domain Science</a>
</li>
</div>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/tmt-science-forums">TMT Science Forums</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/sac-webinars">Science Advisory Committee (SAC) webinars</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a class="science-instruments sub_mobile_dropdown_link" href="#">Science Instruments
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='science-instruments sub_mobile_dropdown_content'>
<li class='sub_sub_page'>
<a href="/page/science-instruments">Overview</a>
</li>
<li class='sub_sub_page'>
<a href="/page/instrument-overview">Overview of Instrument Capabilities</a>
</li>
<li class='sub_sub_page'>
<a href="/page/wfos">Wide-Field Optical Spectrometer (WFOS)</a>
</li>
<li class='sub_sub_page'>
<a href="/page/modhis">Multi-Objective Diffraction-limited High-Resolution Infrared Spectrograph (MODHIS)</a>
</li>
<li class='sub_sub_page'>
<a href="/page/iris">Infrared Imaging Spectrograph (IRIS)</a>
</li>
<li class='sub_sub_page'>
<a href="/page/instruments-adaptive-optics">Facility Adaptive Optics (NFIRAOS)</a>
</li>
<li class='sub_sub_page'>
<a href="/page/second-generation-instruments">Second Generation Instruments</a>
</li>
</div>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a class="information-for-tmt-observers sub_mobile_dropdown_link" href="#">Information for TMT Observers
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='information-for-tmt-observers sub_mobile_dropdown_content'>
<li class='sub_sub_page'>
<a href="/page/information-for-tmt-observers">Overview</a>
</li>
<li class='sub_sub_page'>
<a href="/page/information-for-tmt-observers#science-capabilities">Science Capabilities</a>
</li>
<li class='sub_sub_page'>
<a href="/page/information-for-tmt-observers#science-operations">Science Operations</a>
</li>
</div>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/isdt">TMT International Science Development Teams</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</div>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "#", class: "tmt-in-hi mobile_dropdown_link" do -->
<!-- TMT Hawaii -->
<!-- &nbsp; -->
<!-- %i.fa.fa-caret-right -->
<!-- .mobile_dropdown_content{class: "tmt-in-hi"} -->
<!-- %li.sub_page -->
<!-- = link_to "Overview", "/page/tmt-hawaii" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org", "https://www.maunakeaandtmt.org", target: "_blank" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org/get-the-facts", "https://www.maunakeaandtmt.org/get-the-facts", target: "_blank" -->
<li>
<a class="observatory mobile_dropdown_link" href="#">The Observatory
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='mobile_dropdown_content observatory'>
<li class='sub_page'>
<a href="/page/observatory">Overview</a>
</li>
<li class='sub_page'>
<a href="/page/site">Site</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/summit-facilities">Summit Facilities and Enclosure</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a class="telescope-systems sub_mobile_dropdown_link" href="#">Telescope Systems
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='sub_mobile_dropdown_content telescope-systems'>
<li class='sub_sub_page'>
<a href="/page/telescope-systems">Overview</a>
</li>
<li class='sub_sub_page'>
<a href="/page/optics">TMT Optics</a>
</li>
<li class='sub_sub_page'>
<a href="/page/instruments-adaptive-optics">Adaptive Optics</a>
</li>
<li class='sub_sub_page'>
<a href="/page/controls">Controls</a>
</li>
<li class='sub_sub_page'>
<a href="/page/telescope-structure">Telescope Structure</a>
</li>
<li class='sub_sub_page'>
<a href="/page/observatory-software">Observatory Software</a>
</li>
</div>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</div>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "#", class: "tmt-in-hi mobile_dropdown_link" do -->
<!-- TMT Hawaii -->
<!-- &nbsp; -->
<!-- %i.fa.fa-caret-right -->
<!-- .mobile_dropdown_content{class: "tmt-in-hi"} -->
<!-- %li.sub_page -->
<!-- = link_to "Overview", "/page/tmt-hawaii" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org", "https://www.maunakeaandtmt.org", target: "_blank" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org/get-the-facts", "https://www.maunakeaandtmt.org/get-the-facts", target: "_blank" -->
<li>
<a class="engagement-education mobile_dropdown_link" href="#">Education &amp; Engagement
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='engagement-education mobile_dropdown_content'>
<li class='sub_page'>
<a href="/page/engagement-education">Overview</a>
</li>
<li class='sub_page'>
<a href="/page/ee-conversations">Conversations</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/ee-engagement-education">Education &amp; Engagement</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li class='sub_page'>
<a href="/page/ee-partnerships">Partnerships</a>
</li>
<!-- - if c.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</div>
<!-- - if resource.url_slug == "uselt" -->
<!-- %li -->
<!-- = link_to "#", class: "tmt-in-hi mobile_dropdown_link" do -->
<!-- TMT Hawaii -->
<!-- &nbsp; -->
<!-- %i.fa.fa-caret-right -->
<!-- .mobile_dropdown_content{class: "tmt-in-hi"} -->
<!-- %li.sub_page -->
<!-- = link_to "Overview", "/page/tmt-hawaii" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org", "https://www.maunakeaandtmt.org", target: "_blank" -->
<!-- %li.sub_page -->
<!-- = link_to "https://www.maunakeaandtmt.org/get-the-facts", "https://www.maunakeaandtmt.org/get-the-facts", target: "_blank" -->
<li>
<a class="news_multimedia mobile_dropdown_link" href="#">News & Multimedia
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<div class='mobile_dropdown_content news_multimedia'>
<li class='sub_page'>
<a href="/news">Overview</a>
</li>
<li class='sub_page'>
<a href="/news">News</a>
</li>
<li class='sub_page'>
<a href="/page/for-the-media">For the Media</a>
</li>
<li class='sub_page'>
<a href="/newsletters">TMT E-news/Newsletter</a>
</li>
<li class='sub_page'>
<a href="/in-the-news">Press Coverage</a>
</li>
<li class='sub_page'>
<a href="/featured_images">Image Gallery</a>
</li>
<li class='sub_page'>
<a href="/multimedia">Multimedia</a>
</li>
</div>
<li>
<a href="/events">Events</a>
</li>
<li>
<a href="/documents">Documents</a>
</li>
<li>
<a href="/blog">Blog</a>
</li>
<hr>
<li>
<a href="/page/science-with-tmt">Scientists</a>
</li>
<li>
<a href="/page/tmt-and-industry">Industry</a>
</li>
<hr>
<li>
<a href="/page/contact">Contact Us</a>
</li>
<li>
<a href="/search">Search</a>
</li>
<hr>
<li>
<a href="/users/sign_in">Sign In</a>
</li>
<hr>
<div class='social_media_links'>
<a href="/page/stay-connected"><i class='fa fa-share-alt'></i>
Stay Connected
</a></div>
</ul>
</div>
<div class='mobile_nav'>
<div class='container'>
<div class='row'>
<div class='col s12 burger_wrapper'>
<a class='button-collapse' data-activates='mobile-menu' href='#'>
<i class='fa fa-bars'></i>
</a>
</div>
</div>
</div>
</div>
</div>

<div class='sub_navigation'>
<ul class='dropdown-content' id='about_menu'>
<li>
<a data-activates="mission-vision_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/mission-vision">Mission &amp; Vision
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="our-story-in-hawaii_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/our-story-in-hawaii">Our Story in Hawaii
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="timeline_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/timeline">Timeline
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="partners_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/partners">Partners
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="governance_sub_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/governance">Governance
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="opportunities_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/opportunities">Industry and Employment Opportunities
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</ul>
<ul class='dropdown-content' id='uselt_menu'>
<li>
<a data-activates="astro2020_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/astro2020">Astro2020
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</ul>
<ul class='dropdown-content' id='science-with-tmt_menu'>
<li>
<a data-activates="science-themes_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/science-themes">Science Themes
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="tmt-science-forums_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/tmt-science-forums">TMT Science Forums
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="sac-webinars_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/sac-webinars">Science Advisory Committee (SAC) webinars
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="science-instruments_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/science-instruments">Science Instruments
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="science_planning_sub_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/information-for-tmt-observers">Information for TMT Observers
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="isdt_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/isdt">TMT International Science Development Teams
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</ul>
<ul class='dropdown-content' id='observatory_menu'>
<li>
<a data-activates="site_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/site">Site
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="summit-facilities_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/summit-facilities">Summit Facilities and Enclosure
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="telescope-systems_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/telescope-systems">Telescope Systems
&nbsp;
<i class='fa fa-caret-right'></i>
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</ul>
<ul class='dropdown-content' id='engagement-education_menu'>
<li>
<a data-activates="ee-conversations_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/ee-conversations">Conversations
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="ee-engagement-education_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/ee-engagement-education">Education &amp; Engagement
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
<li>
<a data-activates="ee-partnerships_menu" data-constrainwidth="false" data-hover="true" data-alignment="left" class="sub_navigation_dropdown" href="/page/ee-partnerships">Partnerships
</a></li>
<!-- - if child.url_slug == "telescope-systems" -->
<!-- %li -->
<!-- = link_to "Construction Timeline", (page_path("timeline") + "?category=Observatory+Construction"), class: "navigation_dropdown" -->
</ul>
</div>
<div class='nested_sub_navigation'>
<ul class='dropdown-content' id='mission-vision_menu'>
</ul>
<ul class='dropdown-content' id='our-story-in-hawaii_menu'>
</ul>
<ul class='dropdown-content' id='timeline_menu'>
</ul>
<ul class='dropdown-content' id='partners_menu'>
</ul>
<ul class='dropdown-content' id='governance_menu'>
</ul>
<ul class='dropdown-content' id='opportunities_menu'>
</ul>
<ul class='dropdown-content' id='astro2020_menu'>
</ul>
<ul class='dropdown-content' id='science-themes_menu'>
<li>
<a href="/page/science-theme-fundamental-physics-and-cosmology">Fundamental Physics and Cosmology</a>
</li>
<li>
<a href="/page/early-universe-and-igm">Early Universe, Galaxy Formation and the IGM</a>
</li>
<li>
<a href="/page/supermassive-black-holes">Supermassive Black Holes</a>
</li>
<li>
<a href="/page/milky-way-and-nearby-galaxies">Milky Way and Nearby Galaxies</a>
</li>
<li>
<a href="/page/stars-and-stellar-physics">Stars, Stellar Physics and the Interstellar Medium</a>
</li>
<li>
<a href="/page/formation-of-stars-and-planets">Formation of Stars and Planets</a>
</li>
<li>
<a href="/page/exoplanets">Exoplanets</a>
</li>
<li>
<a href="/page/our-solar-system">Our Solar System</a>
</li>
<li>
<a href="/page/time-domain-science">Time Domain Science</a>
</li>
</ul>
<ul class='dropdown-content' id='tmt-science-forums_menu'>
</ul>
<ul class='dropdown-content' id='sac-webinars_menu'>
</ul>
<ul class='dropdown-content' id='science-instruments_menu'>
<li>
<a href="/page/instrument-overview">Overview of Instrument Capabilities</a>
</li>
<li>
<a href="/page/wfos">Wide-Field Optical Spectrometer (WFOS)</a>
</li>
<li>
<a href="/page/modhis">Multi-Objective Diffraction-limited High-Resolution Infrared Spectrograph (MODHIS)</a>
</li>
<li>
<a href="/page/iris">Infrared Imaging Spectrograph (IRIS)</a>
</li>
<li>
<a href="/page/instruments-adaptive-optics">Facility Adaptive Optics (NFIRAOS)</a>
</li>
<li>
<a href="/page/second-generation-instruments">Second Generation Instruments</a>
</li>
</ul>
<ul class='dropdown-content' id='information-for-tmt-observers_menu'>
</ul>
<ul class='dropdown-content' id='isdt_menu'>
</ul>
<ul class='dropdown-content' id='site_menu'>
</ul>
<ul class='dropdown-content' id='summit-facilities_menu'>
</ul>
<ul class='dropdown-content' id='telescope-systems_menu'>
<li>
<a href="/page/optics">TMT Optics</a>
</li>
<li>
<a href="/page/instruments-adaptive-optics">Adaptive Optics</a>
</li>
<li>
<a href="/page/controls">Controls</a>
</li>
<li>
<a href="/page/telescope-structure">Telescope Structure</a>
</li>
<li>
<a href="/page/observatory-software">Observatory Software</a>
</li>
</ul>
<ul class='dropdown-content' id='ee-conversations_menu'>
</ul>
<ul class='dropdown-content' id='ee-engagement-education_menu'>
</ul>
<ul class='dropdown-content' id='ee-partnerships_menu'>
</ul>
</div>
<div class='news_sub_navigation'>
<ul class='dropdown-content' id='news_menu'>
<li class=''>
<a href="/news">News</a>
</li>
<li>
<a href="/page/for-the-media">For the Media</a>
</li>
<li class=''>
<a href="/newsletters">TMT E-news/Newsletter</a>
</li>
<li class=''>
<a href="/in-the-news">Press Coverage</a>
</li>
<li class=''>
<a href="/events">Events</a>
</li>
<li class=''>
<a href="/featured_images">Image Gallery</a>
</li>
<li class=''>
<a href="/multimedia">Multimedia</a>
</li>
</ul>
</div>
<div class='governance_sub_navigation'>
<ul class='dropdown-content' id='governance_sub_menu'>
<li>
<a href="/page/governance#board-of-governors">Board Members</a>
</li>
<li>
<a href="/page/governance#science-advisory-committee">SAC Members</a>
</li>
</ul>
</div>
<div class='science_planning_sub_navigation'>
<ul class='dropdown-content' id='science_planning_sub_menu'>
<li>
<a href="/page/information-for-tmt-observers#science-capabilities">Science Capabilities</a>
</li>
<li>
<a href="/page/information-for-tmt-observers#science-operations">Science Operations</a>
</li>
</ul>
</div>
<!-- .tmt_in_hi_sub_navigation -->
<!-- %ul.dropdown-content#tmt_in_hi_menu -->
<!-- %li -->
<!-- = link_to "https://www.maunakeaandtmt.org", "https://www.maunakeaandtmt.org" -->
<!-- %li -->
<!-- = link_to "https://www.maunakeaandtmt.org/get-the-facts", "https://www.maunakeaandtmt.org/get-the-facts" -->

<div class='iris'>
<div class='beauty_image'>
<img src="/assets/tmt_comp_background-f920515202d7fa2ce6dc8c485d53df5c2a9f5f3e4ff1414500ab8d5da629e49e.jpg" alt="Tmt comp background" />
</div>
<div class='container'>
<div class='row'>
<div class='col s12 page_title_wrapper'>
<h1 class='page_title'>
IRIS Exposure Time Calculator
</h1>
</div>
</div>
</div>
<div class='relative_container'>
<div class='content_container sections_container scrollspy' id=''>
<div class='container section'>
<div class='row'>
<div class='col m9 s12'>
<div class='raw'>
<p>The IRIS Exposure Time Calculator (ETC) is a tool to assist with the development of science cases that involve observations with IRIS (TMT&#39;s first light diffration limited near-IR (1-2.4 &micro;m) imager and Integral Field Spectrograph). The IRIS ETC carries out a full decomposition with&nbsp;the expected PSF and may take several seconds to run.</p>

<p><a href="https://www.tmt.org/page/iris-etc-instructions">IRIS&nbsp;Exposure Time Calculator User Guide</a></p>

<p>Enquiries and questions to: <a href="mailto:instruments@tmt.org">instruments@tmt.org</a></p>

<hr />
<p>&nbsp;</p>

<div class='clearfix'></div>
</div>
</div>
<div class='col m3 s12'>
<div class='raw'>
<div class="sidebar_header" style="margin-bottom:20px">Useful Links</div>

<p><a href="https://www.tmt.org/page/iris-etc-instructions">IRIS&nbsp;Exposure Time Calculator User Guide</a></p>

<p><a href="https://www.tmt.org/page/iris">IRIS Instrument Description</a></p>

<p><a href="http://oirlab.ucsd.edu/IRIS.html">IRIS team webpage</a></p>

<hr />
<p>&nbsp;</p>

<div class='clearfix'></div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class='container iris_container'>

<form class="new_iris" id="new_iris" action="/etc/iris" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="xTeVxh40xBQsL2PsVIreF2wYLRXePx1Xmu2OY7ECaBT1IghZ6+C5XvzaXMG2Aq/xcwCCv1cGm2iF+oV+X0WAfQ==" /><div class='row'>
<div class='col s12 m12 l6'>
<div class='card'>
<div class='card-content'>
<h5>
Instrument Setup
</h5>
<div class='row'>
<div class='col m12'>
<strong>
Configuration
</strong>
<div class='description'>
The IFS is serial behind the imager. Light passes through the imager filter and into the IFS.
</div>
</div>
</div>
<div class='row'>
<div class='col m6'>
<label>Mode</label>
<div class='radio'>
<input id="imager" class="with-gap" type="radio" value="imager" name="iris[mode]" />
<label for="imager">Imager [4mas/pix]</label>
</div>
<div class='radio'>
<input id="ifs" class="with-gap" type="radio" value="IFS" name="iris[mode]" />
<label for="ifs"> Integral Field Spectrograph</label>
</div>
</div>
</div>
<div class='row no_margin_bottom'>
<div class='col s12 m6'>
<label class='tooltipped' data-position='top' data-tooltip='Lenslet provides spatial scales of 4 or 9 mas. Slicer provides 25 or 50 mas'>IFS Mode</label>
<select name="mode" id="ifs_mode" class="ifs_only" disabled="disabled"><option value=""></option><option value="Lenslet">Lenslet</option>
<option value="Slicer">Slicer</option></select>
</div>
<div class='col s12 m6' id='grating_wrapper'>
<label for="resolution" class="tooltipped" data-position="top" data-tooltip="Select the grating desired for the desired wavelength range and resolution">Grating</label>
<select id="iris_grating" class="fov_input ifs_only" disabled="disabled" name="iris[resolution]"><option value=""></option>
</select>
</div>
<div class='col s12 m6'>
<label for="scale" class="tooltipped" data-position="top" data-tooltip="Select the plate scale desired for the given mode">Plate Scale</label>
<select class="fov_input" name="iris[scale]" id="iris_scale"><option value=""></option>
</select>
</div>
<div class='col s12 m6 filter_wrapper'>
<label for="filter" class="tooltipped" data-position="top" data-tooltip="Select the desired bandpass for the simulation after selecting grating">Filter</label>
<select class="fov_input" name="iris[filter]" id="iris_filter"><option value=""></option>
</select>
</div>
</div>
<div class='row text_output_wrapper'>
<div class='col s6 m6'>
<label for="iris_fov">Field of View</label>
<input type="text" name="fov" id="fov" class="text_output" readonly="readonly" />
</div>
<div class='col s6 m6'>
<label for="iris_spatial_elements">Spatial Elements</label>
<input type="text" name="spatial_elements" id="spatial_elements" class="text_output" readonly="readonly" />
</div>
</div>
<div class='row'>
<div class='col s12'>
<strong>
Exposure
</strong>
</div>
</div>
<div class='row'>
<div class='col s12 m6'>
<label class='tooltipped' data-position='top' data-tooltip='Calculate the required exposure time to reach a desired signal-to-noise ratio or the resulting SNR for a combined number of frames with specified exposure time'>Calculation</label>
<div class='radio'>
<input id="snr" class="with-gap" type="radio" value="snr" checked="checked" name="iris[calc]" />
<label for="snr">Signal-to-noise</label>
</div>
</div>
<div class='col s12 m6'>
<label class='tooltipped' data-position='top' data-tooltip='Number of frames of the specified exposure time'>Number of Frames</label>
<input class="margin_left itime_addend snr_only" placeholder="Enter number of frames..." type="text" name="iris[nframes]" id="iris_nframes" />
</div>
<div class='col s12 m6'>
<div class='radio'>
<input id="exptime" class="with-gap" type="radio" value="exptime" name="iris[calc]" />
<label for="exptime">Total Integration time [s]</label>
</div>
</div>
<div class='col s12 m6'>
<label class='tooltipped' data-position='top' data-tooltip='The desired signal-to-noise'>Signal-to-noise</label>
<input class="margin_left exptime_only" placeholder="Enter signal-to-noise..." disabled="disabled" type="text" name="iris[snr]" id="iris_snr" />
</div>
</div>
<div class='row'>
<div class='col s12 m6 offset-m6'>
<label class='tooltipped' data-position='top' data-tooltip='Exposure time per frame'>Exposure time [s] per frame</label>
<input class="margin_left itime_addend" placeholder="Enter exposure time..." type="text" name="iris[itime]" id="iris_itime" />
</div>
</div>
</div>
</div>
</div>
<div class='col s12 m12 l6'>
<div class='row'>
<div class='col s12 m12'>
<div class='card'>
<div class='card-content'>
<h5>
Source Properties
</h5>
<div class='row'>
<div class='col s12'>
<div class='radio'>
<input id="point_source" class="with-gap" type="radio" value="point_source" name="iris[source]" />
<label for="point_source">Point source</label>
</div>
<div class='radio'>
<input id="extended" class="with-gap" type="radio" value="extended" name="iris[source]" />
<label for="extended">Extended Source</label>
</div>
</div>
</div>
<div class='row mag_and_flux'>
<div class='col s12 flex'>
<div class='description'>
Magnitude and flux density are per square arcsecond for extended source.
</div>
</div>
<div class='col s12 flex'>
<div class='radio flex_input'>
<input id="mag" class="with-gap" type="radio" value="" checked="checked" name="iris[test4]" />
<label for="mag">Magnitude [Vega]</label>
</div>
<div class='flex_input'>
<input class="margin_left" placeholder="Enter mag..." type="text" name="iris[mag]" id="iris_mag" />
</div>
</div>
<div class='col s12 flex'>
<div class='radio flex_input'>
<input id="flambda" class="with-gap" type="radio" value="" name="iris[test4]" />
<label for="flambda">Flux density [erg/s/cm^2/Å]</label>
</div>
<div class='flex_input'>
<input class="margin_left" placeholder="Enter density..." disabled="disabled" type="text" name="iris[flambda]" id="iris_flambda" />
</div>
</div>
<div class='col s12 flex'>
<div class='radio flex_input'>
<input id="fint" class="with-gap" type="radio" value="" name="iris[test4]" />
<label for="fint">Integrated flux over bandpass [erg/s/cm^2]</label>
</div>
<div class='flex_input'>
<input class="margin_left" placeholder="Enter flux..." disabled="disabled" type="text" name="iris[fint]" id="iris_fint" />
</div>
</div>
</div>
<div class='row'>
<div class='col s12 m4'>
<label class='tooltipped' data-position='top' data-tooltip='Vega (A0V), Flat (constant flux density with wavelength), Emission (flux in an emission line)'>Spectrum</label>
<select class="ifs_only" disabled="disabled" name="iris[spectrum]" id="iris_spectrum"><option value=""></option>
<option value="Vega">Vega</option>
<option value="Flat">Flat</option>
<option value="Emission">Emission</option></select>
</div>
<div class='col s12 m4'>
<label class='tooltipped' data-position='top' data-tooltip='Wavelength of emission line'>Wavelength [microns]</label>
<input class="margin_left emission_only" placeholder="Enter wavelength..." disabled="disabled" type="text" name="iris[wavelength]" id="iris_wavelength" />
</div>
<div class='col s12 m4'>
<label class='tooltipped' data-position='top' data-tooltip='Velocity width of emission line'>Line width in velocity [km/s]</label>
<input class="margin_left emission_only" placeholder="Enter line width..." disabled="disabled" type="text" name="iris[line_width]" id="iris_line_width" />
</div>
</div>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col s12'>
<div class='card'>
<div class='card-content'>
<h5>
Expected Performance and Atmospheric Conditions
</h5>
<div class='description'>
Point spread functions (PSF) are defined in each bandpass with varying atmospheric conditions, AO guide star configuration, Zenith angle, and field position across the IRIS focal plane and used to approximate different expected observing conditions.
</div>
<div class='row'>
<br>
<div class='col s12'>
<label class='tooltipped' data-position='top' data-tooltip='Good - best 25%, average - 50%, bad - worst 25%'>Atmospheric Conditions</label>
<br>
<div class='description'>The atmospheric conditions are calculated from turbulence profiles taken during three years of site testing at the TMT site at Mauna Kea 13N. For each profile, the AO wave front error (sum of fitting, bandwidth and isoplanatic error terms) is found and profiles are sorted by this wave front error. The representative profile for a given percentile X% is then defined as the average of all profiles in the range [X-5:X+5]%.</div>
<div class='radio'>
<input id="good-25-atmospheric-conditions" class="with-gap" type="radio" value="25" name="iris[atm_cond]" />
<label for="good-25-atmospheric-conditions">Good - 25% atmospheric conditions</label>
</div>
<div class='radio'>
<input id="average-50-atmospheric-conditions" class="with-gap" type="radio" value="50" checked="checked" name="iris[atm_cond]" />
<label for="average-50-atmospheric-conditions">Average - 50% atmospheric conditions</label>
</div>
<div class='radio'>
<input id="bad-75-atmospheric-conditions" class="with-gap" type="radio" value="75" name="iris[atm_cond]" />
<label for="bad-75-atmospheric-conditions">Bad - 75% atmospheric conditions</label>
</div>
</div>
</div>
<div class='row'>
<div class='col s12 m6 psf_wrapper'>
<label for="psf_location" class="tooltipped" data-position="top" data-tooltip="Location across the detector field of view for the simulation. The IFS is on-axis">Point Spread Function Location</label>
<br>
<div class='description'>The spectrograph PSF is always on-axis. Users can specify field locations across the four imagers.</div>
<select id='iris_psf_location' name='iris[psf_location][x]'></select>
</div>
<div class='col s12 m6'>
<label for="zenith_angle" class="tooltipped" data-position="top" data-tooltip="Select the zenith angle for your observation">Zenith Angle [degrees]</label>
<select name="iris[zenith_angle]" id="iris_zenith_angle"><option value=""></option>
<option value="0">0</option>
<option selected="selected" value="30">30</option>
<option value="45">45</option></select>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='buttons col m12'>
<div class='right'>
<button class='btn' type='submit'>
Calculate
</button>
</div>
</div>
</div>
</form>
</div>
<div class='container'>
<i class='fa fa-spinner fa-pulse fa-3x iris_spinner'></i>
<div class='row'>
<div class='col s12 m6'>
<table class='ajax_results bordered'></table>
</div>
<div class='col s12 m6'>
<div class='row'>
<div class='m12'>
<div id='primary_plotly'></div>
</div>
</div>
<div class='row'>
<div class='m12'>
<div id='secondary_plotly'></div>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col s12'>
<div class='ajax_stdin'></div>
</div>
</div>
<div class='row'>
<div class='col s12'>
<div class='ajax_errors'></div>
</div>
</div>
</div>
<div class='container'>
<div class='row'>
<div class='col s12'>
<p class='em'>
The IRIS ETC was developed by members of the IRIS technical team at UC San Diego in collaboration with <a target="_ipac" href="https://www.ipac.caltech.edu/">Caltech/IPAC</a>: Eric Oh (IPAC), Jacob Llamas (IPAC), Nils-Erik Rundquist (UCSD), Arun Surya (UCSD), Greg Walth (Carnegie), and Shelley Wright (UCSD).
</p>
</div>
</div>
<div class='row'>
<div class='col s12'>
ETC was updated at  9:00 PM, November 14th, 2019 UTC
</div>
</div>
</div>
</div>

<footer class='page-footer'>
<div class='container'>
<div class='row'>
<div class='col m12 l6'>
<ul class='collection with-header'>
<li>
<div class='footer_logo'>
<a href="/"><img src="/assets/tio_logo-86732a740c18002b14060af42b4f6a1cc65f1836195e9cacdcfc6b13a3639b4e.png" alt="Tio logo" /></a>
</div>
<p>
The TMT International Observatory LLC (TIO), a non-profit organization, was established in May 2014 to carry out the construction and operation phases of the TMT Project. The Members of TIO are Caltech, the University of California, the National Institutes of Natural Sciences of Japan, the National Astronomical Observatories of the Chinese Academy of Sciences, the Department of Science and Technology of India, and the National Research Council (Canada); the Association of Universities for Research in Astronomy (AURA) is a TIO Associate. Major funding has been provided by the Gordon & Betty Moore Foundation.
</p>
</li>
<li class='collection-item'>
<i class='fa fa-envelope'></i>
<a href="mailto:inquiry@tmt.org">inquiry@tmt.org</a>
</li>
</ul>
</div>
<div class='col m12 l6'>
<div class='flex_wrapper'>
<div class='gr'>
<h5 class='footer_list_header'>TMT Policies</h5>
<ul class='footer_list'>
<li>
<a href="/page/privacy-policy">Privacy Policy</a>
</li>
<li>
<a href="/page/image-use-policy">Image Use Policy</a>
</li>
</ul>
</div>
<div class='gr'>
<h5 class='footer_list_header'>Work with TMT</h5>
<ul class='footer_list'>
<li>
<a href="/employment">Employment Opportunities</a>
</li>
<li>
<a href="/page/tmt-and-industry">Industry Opportunities</a>
</li>
</ul>
</div>
<div class='gr'>
<h5 class='footer_list_header'>Quick Links</h5>
<ul class='footer_list'>
<!-- %li -->
<!-- = link_to "TMT Hawaii", "https://www.maunakeaandtmt.org/", target: "_TIO" -->
<li>
<a target="_TIO" href="http://www.tmtlapalma.org">TMT La Palma</a>
</li>
<li>
<a target="_TIO" href="https://sites.google.com/tmt.org/tmt-intranet?pli=1&amp;authuser=3">TMT Intranet</a>
</li>
</ul>
</div>
</div>
<div class='col s12 m8 offset-m2'>
<div class='signup_form' id='mc_embed_signup'>
<form action='https://tmt.us19.list-manage.com/subscribe/post?u=35813cd68a894624228e30827&amp;id=b27d20ee4a' class='validate' id='mc-embedded-subscribe-form' method='post' name='mc-embedded-subscribe-form' novalidate='' target='_blank'>
<div id='mc_embed_signup_scroll'>
<div class='signup_form_header'>Sign up for TMT news and updates</div>
<div class='mc-field-group'>
<input class='required email' id='mce-EMAIL' name='EMAIL' placeholder='Email' type='email' value=''>
</div>
<div class='mc-field-group'>
<input id='mce-MMERGE3' name='MMERGE3' placeholder='Last Name, First Name' type='text' value=''>
</div>
<div class='clear' id='mce-responses'>
<div class='response' id='mce-error-response' style='display:none'></div>
<div class='response' id='mce-success-response' style='display:none'></div>
</div>
<div aria-hidden='true' style='position: absolute; left: -5000px;'>
<input name='b_35813cd68a894624228e30827_b27d20ee4a' tabindex='-1' type='text' value=''>
</div>
<div class='clear'>
<input class='secondary_button' id='mc-embedded-subscribe' name='subscribe' type='submit' value='Subscribe'>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class='social_media_wrapper'>
<div class='social_media_links'>
<a href="/page/stay-connected"><div class='stay_connected'>
<i class='fa fa-share-alt-square'></i>
Stay Connected
</div>
</a></div>
</div>
<div class='footer-copyright'>
<div class='container'>
<div class='row'>
<div class='col m6'>
<div class='footer_nav'>
<a class="left" href="/">Home</a>
<a class="left" href="/page/about">About</a>
<a class="left" href="/page/contact">Contact</a>
<a class="left" target="_TIO" href="https://sites.google.com/tmt.org/tmt-intranet?pli=1&amp;authuser=3">TMT Intranet</a>
</div>
</div>
<div class='col m6'>
© 2022 - TMT International Observatory. All Rights Reserved.
</div>
</div>
<div class='row'>
<div class='col m6 push-m6'>
<div class='strong'>
Website designed by
<a target="_TIO" href="https://www.ipac.caltech.edu/page/outreach">IPAC Communications &amp; Education Team</a>
</div>
</div>
</div>
</div>
</div>
</footer>
</body>
</html>
<script src="/assets/application-8c313b33e57b6afb0b0a5e2a427e830245bb1e643f6087da821ee7611416f272.js"></script>
<script src="/assets/plotly-39fbaca9fb87385127b0a9f76c945a7dbc65c4475d77595355e29617abc8fc97.js"></script>
<script src="/assets/etc/iris-802e5d130d99dece8aa1ea07c42cab3cf7e5c6b50d346ac394d58804dbc3118f.js"></script>

<script>
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
    $(".navigation_dropdown").dropdown();
    $(".sub_navigation_dropdown").dropdown();
    $('.scrollspy').scrollSpy();
    $('.section_toc').pushpin({
      top: 374,
      offset: 200
    });
    $('#alert_close').click(function(){
      $( "#alert_box" ).fadeOut( "slow", function() {
      });
    });
    $.each($(".content_container"), function( index, value ) {
      if (index % 2 === 0) {
        /* index is even */
      } else {
        /* index is odd */
        $(value).addClass("stripped_container");
      }
    });
  });
</script>