# Configuration file to run snr_max

[run]
#
plot_prefix=testrun
savename=test.txt
instrument=MODHIS
mode=etc_ccf

[stel]
#RV:km/s
phoenix_folder=/Users/huihaoz/specsim/_Data/phoenix/
sonora_folder=/Users/huihaoz/specsim/_Data/sonora/
vsini =0
rv = 20
teff  =2800
mag   =14

[plan]
#RV:km/s
phoenix_folder=/Users/huihaoz/specsim/_Data/phoenix/
sonora_folder=/Users/huihaoz/specsim/_Data/sonora/
vsini =0
rv = 20
teff  =700
mag   =19
ang_sep =1

[filt]
zp_file=/Users/huihaoz/specsim/_Data/filters/zeropoints.txt
filter_path=/Users/huihaoz/specsim/_Data/filters/
band=K
family=2mass

[tel]
telluric_file=/Users/huihaoz/specsim/_Data/telluric/psg_out_2020.08.02_l0_800nm_l1_2700nm_res_0.001nm_lon_204.53_lat_19.82_pres_0.5826.fits
skypath=/Users/huihaoz/specsim/_Data/sky/
airmass=1.2
pwv=1.5
seeing=good
zenith=30


[inst]
transmission_path=/Users/huihaoz/specsim/_Data/Throughput/
atm=0
adc=0
l0=500
l1=2650
res=100000
res_samp=3
pix_vert=3
extraction_frac=0.925
tel_area=655
tel_diam = 30
readnoise = 12
darknoise = 0.01
saturation=100000
pl_on=1
rv_floor=0.5

[obs]
texp=14400
texp_frame_set=default
nsamp=16

[ao]
#options: NGS (R<14), LGS_ON (R<17), LGS_OFF (R>17)
inst=modhis
mode=auto
tt_static=0
lo_wfe=10
defocus=10
ttdynamic_set=/Users/huihaoz/specsim/_Data/WFE/AO/TTDYNAMIC_NFIRAOS.csv
ho_wfe_set=/Users/huihaoz/specsim/_Data/WFE/AO/HOWFE_NFIRAOS.csv
mag=default

[track]
band=JHgap
fratio=35
camera=h2rg
transmission_file=/Users/huihaoz/specsim/_Data/Throughput/trackingcamera.csv
texp=1
field_r=0

[coron]
 #arcsec
mode =off-axis
p_law_dh =-2.0
nactuators =58
fiber_contrast_gain =10.

[etc]
ccf=open
ccfetc =open
goal_ccf = 200
cal=0.01
SN=5
texp_frame = 900

[rv]
water_only=False
line_spacing=None
peak_spacing=2e4
height=0.055
cutoff=0.01
velocity_cutoff=10
rv_floor=0.5

