# Configuration file to run snr_max


[obs]
texp=900
texp_frame_set=default
nsamp=16
zenith_angle=45
target_snr =100


[stel]
phoenix_folder=./data/stel/phoenix/
sonora_folder=./data/stel/sonora/
vsini = 2
teff  = 5800
mag   = 10
pl_teff  = 1400
pl_mag   = 19
pl_sep   = 0
pl_vsini = 0


[filt]
zp_file=./data/filters/zeropoints.txt
filter_path=./data/filters/
band=H
family=2mass

[tel]
telluric_file=./data/telluric/psg_out_2020.08.02_l0_800nm_l1_2700nm_res_0.001nm_lon_204.53_lat_19.82_pres_0.5826.fits
skypath=./data/telluric/sky/
pwv=1.5
seeing_set=good


[inst]
transmission_path=./data/instrument/hispec/throughput/
order_bounds_file=./data/instrument/hispec/order_bounds.csv
atm=1
adc=1
l0=800
l1=2650
res=100000
res_samp=3
pix_vert=4
tel_area=76.2
tel_diam=10
pl_on=0
extraction_frac=0.925
readnoise = 7
darknoise = 0.01
saturation= 90000
rv_floor=0.5



[ao]
mode=auto
tt_static=0
lo_wfe=50
defocus=25
tt_dynamic_file=./data/instrument/hispec/ao/TTWFE_HAKA_092823.csv
ho_wfe_file=./data/instrument/hispec/ao/HOWFE_HAKA_092823.csv
# if you want to override Tt dynamic and ho wfe settings instead of picking
# an AO mode from the files above (NOTE: this override path currently has
# a separate bug in fill_data.ao() -- see load_inputs.py)
#tt_dynamic_set=6
#ho_wfe_set=220
# if you want your ao star to not match science star
mag=default
teff=default


[track]
band=JHgap
fratio=35
camera=h2rg
transmission_file=./data/track/trackingcamera.csv
texp=1
field_r=0
aberrations_file=./data/track/HISPEC_ParaxialTel_OAP_TrackCamParax_SpotSizevsField.txt


[run] 
# not currently used really
tag=h4rg
output_path = ./output/


