# Configuration file to run snr_max that works with files already included in specsim data folders
# see specsim/objects.py to set default definitions or see variables not included here

[obs]
# exposure time in seconds
texp=900
# ZA options: 0, 30, 45, 60
zenith_angle=30


[stel]
# vsini of star in km/s
vsini = 2
# temp of star in K
teff  = 5800
# mag of star in filter band defined in [filt]
mag   = 10
# planet separation in mas (if 0, assumes on axis)
pl_sep   = 0
# planet temperature in K
pl_teff  = 1400
# planet mag in filter band defined in [filt]
pl_mag   = 19
# planet vsini in km/s
pl_vsini = 0

[filt]
# main band options: J, H, K (family=2mass) or y (family=cfht)
band=H
family=2mass

[tel]
# precipitable water vapor of telluric model in mm
pwv=1.5
# seeing options: good, bad, average, code then sets seeing size
seeing_set=good

[inst]
# starting and ending wavelengths to load in nm
l0=500
l1=2650
# resolving power dl/l, 100,000 for modhis/hispec
res=100000
# pixel sampling of LSF (3 for hispec/modhis)
res_samp=3
# vertical pixel extent in cross dispersion (4 for hispec/modhis)
pix_vert=4
# factor to multiply throughput to account for extraction imperfect, 0.925 for hispec/modhis
extraction_frac=0.925
# telescope area in m^2
tel_area=655
# telescope diameter in m
tel_diam = 30
# read noise in e-/pix
readnoise = 12
# dark current in e-/s/pix
darknoise = 0.01
# saturation limit to guide exposure frames
saturation=100000
# photonic lantern yes 1/no 0
pl_on=1

[ao]
# AO options: auto, NGS (R<14), LGS_ON (R<17), LGS_OFF (R>17)
mode=auto
# either set to value in mas RMS or set to file
ttdynamic_set=./data/instrument/modhis/ao/TTDYNAMIC_NFIRAOS_091123.csv
# either set to value in nm or set to file
ho_wfe_set=./data/instrument/modhis/ao/HOWFE_NFIRAOS_091123.csv
# ao star magnitude, default sets to [stel] definition 
mag=default
# ao star temperature, default sets to [stel] definition
teff=default

[track]
# options TBD, tracking turned off for now
band=JHgap
# exposure time in seconds
texp=1
