# Configuration file to run snr_max that works with files already included in specsim data folders

[run]
plot_prefix=testrun
savename=test.txt
instrument=MODHIS
mode=on_axis

[stel]
phoenix_folder=./data/stel/phoenix/
sonora_folder=./data/stel/sonora/
vsini = 2
teff  = 200
mag   = 18
pl_teff  = 1000
pl_mag   = 19
pl_sep   = 0
pl_vsini = 0

[filt]
zp_file=./data/filters/zeropoints.txt
filter_path=./data/filters/
band=H
family=2mass

[tel]
telluric_file=./data/telluric/psg_out_2020.08.02_l0_800nm_l1_2700nm_res_0.001nm_lon_204.53_lat_19.82_pres_0.5826.fits
skypath=./data/telluric/sky/
pwv=1.5
seeing_set=good

[inst]
transmission_path=./data/instrument/
order_bounds_file=./data/filters/order_bounds.csv
atm=0
adc=0
l0=500
l1=2650
res=100000
res_samp=3
pix_vert=3
extraction_frac=0.925
tel_area=655
tel_diam = 30
readnoise = 12
darknoise = 0.01
saturation=100000
pl_on=1
rv_floor=0.5

[obs]
texp=900
texp_frame_set=default
nsamp=16
zenith_angle=30

[ao]
#options: auto, NGS (R<14), LGS_ON (R<17), LGS_OFF (R>17)
mode=auto
tt_static=0.5
lo_wfe=0
defocus=0
ttdynamic_set=./data/ao/TTDYNAMIC_NFIRAOS_091123.csv
ho_wfe_set=./data/ao/HOWFE_NFIRAOS_091123.csv
mag=default
teff=default


[track]
band=JHgap
fratio=35
camera=h2rg
transmission_file=./data/track/trackingcamera.csv
texp=1
field_r=0
aberrations_file=./data/track/HISPEC_ParaxialTel_OAP_TrackCamParax_SpotSizevsField.txt
